* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans' !important, sans-serif;
}

/* video section */

.video-box {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.video-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #242323;

    opacity: 0.6;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header h1 {
    /* color: rgba(248, 181, 0, 0.7); */
    /* color: #5c636e;*/
    color: #cab680;
    font-size: 70px !important;
    text-align: center;
    /* text-shadow: 1px 1px #f8f3f3; */
    /* text-shadow: 1px 1px #f8b500; */
    text-shadow: 1px 1px #5c636e;
}



@media(max-width: 900px) {
    .header {
        left: 50%;
    }

    .header h1 {
        font-size: 34px !important;

    }
}

/*--------------- navigation --------------- */

.nav {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 2;
}

.nav.scrolled {
    background-color: #161616 !important;
    transition: background-color 500ms linear;
}

.nav #brand {
    float: left;
    display: block;
    margin-left: 40px;
    line-height: 80px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.nav #brand a {
    color: #f8b500;
    font-family: 'Open Sans' !important;
    transition: all 500ms ease-out;
}

.nav #brand a:hover {
    text-decoration: none;
}

.nav #menu {
    float: left;
    right: 40px;
    position: fixed;
}

.nav #menu li {
    padding-left: 40px;
    display: inline-block;
    font-weight: lighter !important;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 80px;
    position: relative;
    transition: all 500ms ease-out;
}

.nav #menu li a {
    font-family: 'Open Sans' !important;
    color: #f8b500;
    transition: all 500ms ease-out;
}

.nav #menu li a:hover {
    text-decoration: none;
    color: #fff;
    transition: all 500ms ease-out;
}

#toggle {
    position: absolute;
    right: 40px;
    top: 20px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 2;
    width: 30px;
    height: 30px;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.close-btn {
    position: absolute;
    right: 30px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 2;
    top: -2px;
    line-height: 80px;
}

#resize {
    z-index: 2;
    top: 0px;
    position: fixed;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}

#resize #menu {
    height: 90px;
    position: absolute;
    left: 45%;
    transform: translateX(-40%);
    text-align: center;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    text-transform: uppercase;
    min-height: 50px;
    font-weight: bold;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top: 140px;
}

#resize #menu li a {
    color: #fff;
}

#resize #menu li a:hover {
    text-decoration: none;
}

#resize.active {
    visibility: visible;
    opacity: 1;
}

@media(max-width: 900px) {
    #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
        margin-right: 4px;
    }

    nav #brand {
        margin-left: 10px;
    }

    #resize ul li a {
        font-size: 15px;
        font-family: 'Open Sans' !important;
        font-weight: lighter !important;
        color: rgb(156, 156, 156) !important;
        transition: all 500ms ease-out;
    }

    nav #menu {
        display: none;
    }
}

@media(min-width: 900px) {
    #resize {
        visibility: hidden !important;
    }
}

/* nav end */

/* about */



.content {
    position: absolute;
    margin-top: 100vh;
    width: 100%;
}


section {
    padding: 140px 0;
}

section .about {
    background-color: #f7f7f7;
}

.section-index {
    color: #f8b500;

    font-weight: 700;
    font-size: 20px;
    font-family: 'Open Sans' !important;
}

.section-heading {
    color: #5c636e;
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 3px;
}

.section-subheading {
    color: #5c636e;
    margin: 10px 0;
}

.section-info p {
    font-size: 18px;
    color: #5c636e;
}

.more {
    margin: 40px 0;
}

button {
    position: relative;
    background-color: transparent;
    border: 1px solid #5c636e;
    text-transform: uppercase !important;
    padding: 20px 40px;
    font-size: 12px;
    letter-spacing: 2px;

}

/* about end */

/* services */

.services {
    background: #393e46;
}

.service {
    margin: 30px 0;
}

.icon ion-icon {
    font-size: 40px;
    color: #f8b500;
}

.icon-title {
    font-size: 24px;
    margin-bottom: 6px;
    color: #f7f7f7;
    font-weight: 300;

}




/* services end */

/* crew */
.crew-member,
crew-img {
    position: relative;
}

.crew-img {
    background-color: #bbb;
    height: 350px;
}

.crew {
    margin: 50px 0;
}

.crew-title {
    margin: 15px 0;
}

.crew-title h5 {
    font-size: 26px;

}

.crew-title span {
    font-size: 20px;

}


.crew-member {
    overflow: hidden;
}

.crew-first {
    background: url(mk1.jpg) 20% 50% no-repeat;
    background-size: cover;
}


.crew-second {
    background: url(mk1.jpg) 20% 50% no-repeat;
    background-size: cover;
}

/* crew end */

/* news */
.news {
    padding: 120px 0;
    background-color: #393e46;
}

.news news-data {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    position: relative;

}

.news h2 {
    color: #f7f7f7;
    margin-bottom: 35px;
    text-align: center;
}

.news .form-control {
    height: 40px;
    border-color: #f7f7f7;
    border-radius: 0 !important;
}

.form-control:focus {
    border: none !important;
    box-shadow: none !important;

}

::placeholder {
    letter-spacing: 2px;
}


.news .btn {
    min-height: 50px;
    padding: 0 30px;
    border-radius: 0;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans' !important;
}

.input-group-btn {
    height: 40px;
}

/* news end */

/* contact */
#contact-form {
    margin: 5% 0;
}

.contact .icon-title {
    margin-top: 10px;
    color: #000;
}

#contact-form ul {
    list-style: none;
    margin-bottom: 40px;
    border-radius: 0;
}

#contact-form li:last-of-type {
    border-bottom: none;
}

#contact-form label {
    display: block;
    font-size: 22px;
    color: rgb(97, 97, 97);
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 5px;
    border: none;
    resize: vertical;
    background: transparent;
    color: #101010;
    font-weight: bolder;
}

input:focus {
    outline: none !important;
    border: none !important;
}

textarea:focus {
    outline: none !important;
    border: none !important;
}

.textarea {
    border: 1px solid #5c636e80;
}

@media(max-width: 900px) {
    #contact-form {
        margin: 5% 0;
        width: 98%;
    }
}

/* contact end */

/* footer */
.footer {
    background: #161616;
}

#media,
#address,
#mail {
    text-align: center !important;
}

.footer .container {
    padding: 160px 0;
}

.footer li,
p,
h4 {
    font-size: 24px !important;
}

.footer h4 {
    font-weight: lighter;
    color: #fff;
}

.footer p {
    color: grey;
    font-weight: lighter;
}

.footer li {
    font-weight: lighter;
    color: #fff;
    padding-left: 20px;
    font-size: 18px !important;
}

#media ul {
    list-style: none;
}

#media ul li {
    display: inline-block;
}

@media(max-width: 900px) {
    .footer .container {
        width: 92% !important;
    }
}

/* footer end */